*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: verdana;
	transition:1s;
}
a{
	color: rgb(200,150,0);
	text-decoration: none;
}
#header-pagina{
	background: rgba(0,0,0,0.5);
	padding: 2em;
}
#nav-pagina{
	background: rgba(0,0,0,0.6);
}
#nav-pagina li{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 0.3em;
	display: inline-block;
	margin: 0.3em;
	padding: 0.3em;
}
#nav-pagina li:hover{
	background: rgba(0,0,0,0.7);
}
#section-pagina, #aside-pagina{
	display: inline-block;
	vertical-align: top;
	min-height: 200px;
}
#section-pagina{
	border: 1px solid rgba(0,0,0,0.5);
	max-width: 60%;
}
#aside-pagina{
	border: 1px dashed rgba(0,0,0,0.5);
	max-width: 30%;
}